@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    margin: 0;
    background: #D0E8F2;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

header {
    background: #9BA1A8;
    width: 100%;
}

.content, .modes-explanation{
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.b  {
    width: 80%;
    max-width: 2400px;
    margin: 20px auto;
    margin-right: -20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo, nav {
    padding: 10px 0;
}
h1 {
    color:#27374D;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    position: relative;
}

nav a {
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

nav a:hover, nav a:focus {
    color: #000;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #444;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}

select, input[type="checkbox"], input[type="radio"], input[type="range"], input[type="submit"] {
    margin: 10px 0;
    padding: 8px;
}

input[type="submit"] {
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.card {
    background: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    width: 200px; /* Taille compacte pour les cartes */
}
h3{
    color: #444444;
}
.card h3 {
    color: #007bff;
    font-size: 14px;
}

.card p {
    font-size: 14px;
    color: #333;
}

/* Responsive Design */
@media (max-width: 768px) {
    .content, .modes-explanation {
        width: 95%;
    }

    nav li {
        margin-left: 40px;
    }

    .card {
        width: 100%; /* Ajustement pour une meilleure lisibilité sur les appareils mobiles */
    }
}
