<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'users/css/main.css' %}" type="text/css">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">

    <title>SafeGuard</title>
</head>
<body>
<header>
    <div class="container">
      <h1 class="logo"></h1>
      <nav>
        <ul>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="{% url 'profile' %}">Profile</a></li>
            <li>
              <form action="{% url 'logout' %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit" style="background:none!important; border:none; padding:0!important; font: inherit; border-bottom:1px solid #444; cursor: pointer;">
                  Logout
                </button>
              </form>
            </li>

        </ul>
      </nav>
    </div>
  </header>

<div class="content">
    {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }}" style="color: #55d6aa">
            {{ message }}
          </div>
        {% endfor %}
    {% endif %}
</div>

      {% block content %}
      {% endblock content %}
</body>
</html>