{% extends 'users/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'users/css/home.css' %}" type="text/css">


<div class="containers text-center">
    <h1>SafeGuard Generator</h1>

    <form action="{% url 'home' %}" method="post" id="passwordForm">
        {% csrf_token %}
        <select name="mode" id="modeSelector" style="display:none;">
            <option value="" selected="selected">Select your Mode</option>
            <option value="0">Syntaxic word linking generation</option>
            <option value="1">Random based generation</option>
            <option value="2">With Word (Complexity mode)</option>
            <option value="3">Rand (Complexity mode)</option>
        </select>
        <br>

        <!-- Visible Mode Selector -->
        <select id="visibleModeSelector">
            <option value="" selected="selected">Select your Mode</option>
            <option value="0">Syntaxic word linking generation</option>
            <option value="1">Random based generation</option>
            <option value="2">Generate with Complexity mode</option>
        </select>
        <br>

        <!-- Initially hidden, to be shown based on selection -->
        <div id="dynamicOptions" style="display: none;">
            <!-- Options for modes 0 and 1 -->
            <div id="options" style="display: none;">
                <input type="checkbox" name="specialcharacter" id="specialCharacter"> Special Character
                <br>
                <input type="checkbox" name="uppercase" id="uppercase"> Uppercase
                <br>
                <input type="checkbox" name="numbers" id="numbers"> Numbers
                <br>
            </div>
            <!-- Options for mode 2 (Complexity) -->
            <div id="complexityOptions" style="display: none;">
                <input type="radio" name="complexityType" value="2" onchange="setMode(this.value);"> Based on words
                <br>
                <input type="radio" name="complexityType" value="3" onchange="setMode(this.value);"> Completely random
                <br>
            </div>
            <label id="rangeName" style="display: none;">Number of words</label>
            <input type="range" name="n" id="rangeInput" min="2" max="10" style="display: none;">

            <!-- Span to display the range value -->
            <span id="rangeValue" style="display: none;">2</span>
            <br>
        </div>

        <input type="submit" value="Generate Password" class="btn btn-primary">
        <br>
    </form>

    <script>
        document.getElementById('visibleModeSelector').addEventListener('change', function() {
            var selectedMode = this.value;
            var dynamicOptions = document.getElementById('dynamicOptions');
            var optionsDiv = document.getElementById('options');
            var complexityOptionsDiv = document.getElementById('complexityOptions');
            var rangeInput = document.getElementById('rangeInput');
            var rangeValue = document.getElementById('rangeValue');
            var rangeName = document.getElementById('rangeName');

            // Hide all options initially
            optionsDiv.style.display = 'none';
            complexityOptionsDiv.style.display = 'none';
            rangeInput.style.display = 'none';
            rangeName.style.display = 'none';
            rangeValue.style.display = 'none';

            // Update the hidden selector with the visible one
            document.getElementById('modeSelector').value = selectedMode;

            if (selectedMode === "0") {
                optionsDiv.style.display = '';
                rangeInput.style.display = '';
                rangeName.style.display = '';
                rangeValue.style.display = '';
                rangeName.textContent = 'Number of words:';
                rangeInput.min = 2;
                rangeInput.max = 10;
            }else if(selectedMode === "1") {
                optionsDiv.style.display = '';
                rangeInput.style.display = '';
                rangeName.style.display = '';
                rangeValue.style.display = '';
                rangeName.textContent = 'Number of characters:';
                rangeInput.min = 2;
                rangeInput.max = 60;
            }
            else if (selectedMode === "2") {
                complexityOptionsDiv.style.display = '';
                rangeInput.style.display = '';
                rangeName.style.display = '';
                rangeValue.style.display = '';
                rangeName.textContent = 'Complexity percentage:';
                rangeInput.min = 1;
                rangeInput.max = 100;
            }

            // Show dynamic options if any mode is selected
            dynamicOptions.style.display = selectedMode ? '' : 'none';

            rangeInput.value = rangeInput.min; // Reset range value
            rangeValue.textContent = rangeInput.value; // Update displayed range value
        });

        rangeInput.addEventListener('input', function() {
            document.getElementById('rangeValue').textContent = this.value;
        });

        function setMode(value) {
            document.getElementById('modeSelector').value = value;
        }
    </script>
</div>

<div class="modes-explanation">
    <h3>Understanding Password Generation Modes</h3>
    <div class="b">
    <div class="card">
        <h3>Mode 1: Syntaxic word linking generation </h3>
        <p>This mode creates passwords by linking words from meaningful sentences, offering a balance of memorability and security.</p>
    </div>

    <div class="card">
        <h3>Mode 2: Random based Generation</h3>
        <p>This mode generates a password in a completely random manner, offering high security by ensuring that the password doesn't relate to any personally identifiable information.</p>
    </div>

    <div class="card">
        <h3>Mode 3: Complexity Percentage</h3>
        <p>This mode allows for generating a password with a specified complexity. It offers two sub-modes: based on words or completely random, providing flexibility in how the complexity is applied.</p>
    </div>
    </div>
</div>


{% endblock %}
