<!DOCTYPE html>
{% load crispy_forms_tags %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">

        <link rel="stylesheet" href="{% static 'users/css/signup.css' %}" type="text/css">
        <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
    <title>Login</title>
</head>
<body>
<div class="main">
    <input type="checkbox" id="chk" aria-hidden="true">
    <div class="signup">
        <form action="" method="POST">
            {% csrf_token %}
            <label for="chk" aria-hidden="true">Sign up</label>
            <input type="text" name="username" placeholder="User name" required="">
            <input type="email" name="email" placeholder="Email" required="">
            <input type="password" name="password1" placeholder="Password" required="">
            <input type="password" name="password2" placeholder="Confirm Password" required="">
            <button type="submit" name="signup">Sign up</button>
            {% if form.errors %}
                <div class="form-errors">
                    {% for field in form %}
                        {% for error in field.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}


        </form>
    </div>
    <div class="login">
        <form action="" method="post">
            {% csrf_token %}
            <label for="chk" aria-hidden="true">Login</label>
            <input type="text" name="username" placeholder="User name" required="">
            <input type="password" name="password" placeholder="Password" required="">
            <div class="form-group" id="login-button">
            <button type="submit" class="btn" name="login">Login</button>
        </div>
        </form>
    </div>
</div>


</body>
</html>