{% extends 'users/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="profile">
        <h1>Profile Information</h1>
        <div class="profile-info">
            <h2 style="color: #55d6aa">Username: {{ user.username }}</h2>
            <h2 style="color: #55d6aa">Email: {{ user.email }}</h2>
        </div>
        <div class="accounts">
            <h2>Your Accounts</h2>
            <ul class="account-list">
                {% for account in user_accounts %}
                    <li class="account-bubble">{{ account.platform }}: {{ account.password }} (Added on {{ account.date|date:"Y-m-d" }})</li>
                {% empty %}
                    <li>No accounts found.</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}