<!DOCTYPE html>
{% load crispy_forms_tags %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="{% static 'users/css/signup.css' %}" type="text/css">

    <title>Sign Up</title>
</head>
<body>
<div>
    <form action="" method="POST">
        {% csrf_token %}
        <h1>Sign Up</h1>
        {{ form|crispy }}
        <button type="submit">Sign Up</button>

    <div class="container">
        <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
    </div>

    </form>
</div>
</body>
</html>